*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style-type: none;
}
/*for body*/
body{
    padding: 30px;
    background-image: url(../materials/bgimg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
}
h1 img{
    width: 40px;
}
/*in menu*/
.menu{
    display: flex;
    padding-inline-start: 150px;
}
.menu li{
    padding-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu li a{
    color: white;
}
/*in navigation*/
.navigation{
    color:white;
    margin-top: 80px;
    margin-left: 80px;
    font-family:monospace;
    font-size: 15px;
    font-weight: bold;
}
/*in info*/
.info{
    margin: 20px 50px;
    display: flex;
    width: 1000px;
    height: 370px;
}
/*in info1*/
.info1{
    margin: 20px 20px;
    padding: 5px;
    width: 33%;
    border: 2px solid white;
}
.info1 img{
    width: 100%;
}
.info1 h3{
    padding: 5px 0px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info1 p{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*in info2*/
.info2{
    margin: 20px 20px;
    padding: 5px;
    width: 33%;
    border: 2px dotted white;
}
.info2 img{
    width: 100%;
}
.info2 h3{
    padding: 5px 0px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info2 p{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*in info3*/
.info3{
    margin: 20px 20px;
    padding: 5px;
    width: 33%;
    border: 5px dashed white;
}
.info3 img{
    width: 100%;
}
.info3 h3{
    padding: 5px 0px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info3 p{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    padding: 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgb(255, 255, 255, 0.5);
}
